<div class="split left">
    <ul class="nav flex-column" id="myTab">
        <li class="nav-item">
            <a href="#product" class="nav-link active" data-bs-toggle="tab">Create Product</a>
        </li>
        <li class="nav-item">
            <a href="#profile" class="nav-link" data-bs-toggle="tab">Your Profile</a>
        </li>
        <li class="nav-item">
            <a href="#read" class="nav-link" data-bs-toggle="tab">Read</a>
        </li>
    </ul>
</div>

<div class="tab-content split right">
    <div class="tab-pane fade show active" id="product">
        <h4 class="mt-2"><app-product></app-product></h4>
    </div>
    <div class="tab-pane fade" id="profile">
        <h4 class="mt-2"><app-app-user-details></app-app-user-details></h4>
    </div>
    <div class="tab-pane fade" id="read">
        <h4 class="mt-2">read tab content</h4>
    </div>
</div>